@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
  box-sizing: border-box;
  margin-left:0;
  margin-right:0;
}
body{
  margin-top:0;
  margin-bottom: 0;
}
a{
  text-decoration: none;
  color:#000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a:focus{
  outline:3px solid #000;
}

li{
  list-style: none;
  color:#000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
ol li{
  list-style: decimal;
}
.standardWidth{
  width: 400px;
}

p, button, input, textarea{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

h1{
  font-family: 'Rubik', sans-serif;
}

h2, h3{
  font-family: 'Lato', sans-serif;
}


Link{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.seeMoreButton button{
  width:100%;
  margin-top: 5px;
  background-color:#009AA6;
  color:#fff;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ccc;
}

.seeMoreButton button:hover{
  background-color:#003946;
}

.skipLink a{
  padding:10px;
  position:absolute;
  background-color: #fff;
  top: -5000px;
}

.skipLink a:focus{
  top:0;
}




/* img:hover{
  filter: contrast(125%);
} */